<!DOCTYPE html>
<html>
<head>
	<title>Veiklos</title>
	
	<meta charset="utf-8">
	
	<style>
	
		table{
    		
				border-collapse: collapse;
			
			}
			
			th, td{
			
				border: 1px solid red;
				padding: 8px;
			
			}
			
			#linkas{
				
				 text-decoration: none;
				
			}
			
			button{
			
				margin: 0 auto;
    			display: block;
			
			}
			
	</style>
	
	<script>
	
	   $(document).ready(function(){
		    
		    $( "#linkas" ).button().on( "click", function(){
		    
		    	location.href = "veikla1";
		    	
	        });
	        
	    });
    
	</script>

</head>

<body>

	<table>
	   <tr>
	    <th>Veikla</th>
	    <th>Veiklos aprašymas</th>
	    <th>Dalyvaujančių žmonių skaičius</th>
	    <th>Išsamesnė dalyvių informacija</th>
	   </tr>
		
		<tr th:each="veikla : ${veiklos}">
			<td th:text="${veikla.getVeikla()}"></td>
			<td th:text="${veikla.getAprasymas()}"></td>
			<td></td>
			<td><button><a id="linkas" th:href=@{veikla1(i=${veikla.getId()})}>Žmonių duomenys</a></button></td>
		</tr>
	</table>
	
</body>






</html>