<!DOCTYPE html>
<html>
<head>
	<title>Veiklos</title>
	
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="menu.css">	
	
	<style>
	
		table{
    		
				border-collapse: collapse;
			
			}
			
			th, td{
			
				border: 1px solid red;
				padding: 8px;
			
			}
			
			#linkas{
				
				 text-decoration: none;
				
			}
			
			button{
			
				margin: 0 auto;
    			display: block;
			
			}
			
			#content{
			
				width: 600px;
				margin: 30px auto;
						
			}
			
	</style>
	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    
	<script>
	
		$(document).ready(function(){
		
			$( '.perziureti' ).button()
			
		});
	
	</script>

</head>

<body>

    <div id="menu1">
   
	    <nav>
			<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
	    </nav>	
	    
    </div>
	
	<div id="content">
	
		<table>
		   <tr>
		    <th>Veikla</th>
		    <th>Veiklos aprašymas</th>
		    <!--<th>Dalyvaujančių žmonių skaičius</th>-->
		    <th>Išsamesnė dalyvių informacija</th>
		   </tr>
			
			<tr th:each="veikla : ${veiklos}">
				<td th:text="${veikla.getVeikla()}"></td>
				<td th:text="${veikla.getAprasymas()}"></td>
				<td><a id="linkas" th:href=@{veikla1(i=${veikla.getId()})}><button class="perziureti">Žmonių duomenys</button></a></td>
			</tr>
		</table>
	
	</div>
	
</body>






</html>