<!DOCTYPE html>
<html>
<head>
	<title>Zmones</title>
	
	<meta charset="utf-8">
	
	<style>
	
		table{
    		
				border-collapse: collapse;
			
			}
			
			th, td{
			
				border: 1px solid red;
				padding: 8px;
			
			}
			
	</style>
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  	
  	<script>
  		
  		$(document).ready(function(){
			var dialog, form;
			
			function addVartotojas() {
			
				form.submit();
			}
			
			dialog = $( "#vartotojo_pridejimas" ).dialog({
			      autoOpen: false,
			      height: 400,
			      width: 350,
			      modal: true,
			      buttons: {
				"Vartotojo pridejimas": addVartotojas,
				Cancel: function() {
				dialog.dialog( "close" );
				}
			     }
			});
			
			form = dialog.find( "form" );
			
			$( "#pridejimo_mygtukas" ).button().on( "click", function() {
			      dialog.dialog( "open" );
			});
			
			  $( ".edit" ).each ( function() {
		    
		    	$( this ).button().click ( function() {
		    	
		    		id_zmogaus = $( this ).data ( 'id' );
		    		
					$.ajax({
						 method: 'POST'
				 		 , url: '/zmogus'
				 		 , data: {
				 		 	id: id_zmogaus
				 		 }
					}).done( function( data ) {
						
						if ( data != null ) {
						
							$( '#vardas' ).val ( data.vardas );
							$( '#pavarde' ).val ( data.pavarde );
							$( '#elektroninis_pastas' ).val ( data.elektroninis_pastas );
							$( '#telefono_numeris' ).val ( data.telefono_numeris );				
							$( '#id').val ( data.id );
		      				dialog.dialog( "open" );							
						}

				  	});			    		
		    		
		    	});	
		    			    
		    });
		    
		    	  del_dialog = $( "#dialog-confirm" ).dialog({
			
			      autoOpen: false,
			      resizable: false,
			      height: "auto",
			      width: 400,
			      modal: true,
			      buttons: {
				"Pašalinti": function() {
					$( this ).dialog( "close" );
					$( '#salinimo_forma' ).submit();
			          },
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			      }
			});
			
			$( '.delete' ).button().on ( 'click', function() {
				id_iraso = $( this ).data( 'id' );
				//console.log(id_iraso);
				$( '#id_iraso' ).val ( id_iraso );
				del_dialog.dialog( "open" );
			});
		});
  		
  	</script>
</head>

<body>

	<table>
		<tr th:each="zmones : ${zmones}">
			<td th:text="${zmones.getVardas()}"></td>
			<td th:text="${zmones.getPavarde()}"></td>
			<td th:text="${zmones.getPartija()} == null ? '???' : ${zmones.getPartija().getPartija()}"></td>	
			<td th:text="${zmones.getElektroninis_pastas()}"></td>			
			<td th:text="${zmones.getTelefono_numeris()}"></td>	
			<td><button class="edit" th:attr="data-id=${zmones.getId()}" value="redaguoti">Redaguoti</button></td>
			<td><button class="delete" th:attr="data-id=${zmones.getId()}">Šalinti</button></td>		
		</tr>
	</table>
	
	<div id="vartotojo_pridejimas">
		<form method="post" action="">
			<label for="vardas"><br> Vardas: <br></label>
			<input type="text" name="vardas" id="vardas" value="">
			<label for="pavarde"><br> Pavardė: <br></label>
			<input type="text" name="pavarde" id="pavarde" value="">
			<label for="elektroninis_pastas"><br> Elektroninis paštas: <br></label>
			<input type="text" name="elektroninis_pastas" id="elektroninis_pastas" value="">
			<label for="telefono_numeris"><br> Telefono numeris: <br></label>
			<input type="text" name="telefono_numeris" id="telefono_numeris" value="">
			<input type="hidden" id="id" name="id" value="0">
			<input type="hidden" id="prideti" name="prideti" value="prideti">
		</form>
	</div>
	
	<div id="dialog-confirm" title="Pasirinktų duomenų šalinimas">
		<p>Ar tikrai norite ištrinti pasirinktus duomenis?</p>
		<form id="salinimo_forma" method="post" action="/salinti-vartotoja">
				<input type="hidden" name="salinti" id="salinti" value="salinti">
				<input type="hidden" name="id_iraso" id="id_iraso" value="0">	
		</form>
	</div>
		
	<button id="pridejimo_mygtukas">Vartotojo pridejimas</button>
	
</body>







</html>